name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 10.28.0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Nx Sync Check
        run: pnpm nx sync:check

      - name: Lint
        run: pnpm nx run-many -t lint --all

      - name: Typecheck
        run: pnpm nx run-many -t typecheck --all

      - name: Build
        run: pnpm nx run-many -t build --all

      - name: Test
        run: pnpm nx run-many -t test --all
